.container-forgotPassword {
    display: grid;
    justify-content: center;
    max-width: 33%;
    margin: 0 auto 0 auto;
}

.container-forgotPassword p{
    color: white;
    font-size: 120%;
}

.bottom-forgotPassword {
    text-align: center;
    margin-top: 7.2%;
}

@media (max-width: 768px) {
    .container-forgotPassword{
        max-width: 50%;
    }
}

@media (max-width: 425px) {
    .container-forgotPassword{
        max-width: 100%;
    }
}