.gradient-container {
    background: linear-gradient(#1A1A1A, #000000);
    min-height: 100vh;
}

.gradient-container div h2{
    margin: 0;
    padding: 2%;
    font-size: 250%;
    text-align: center;
    color: white;
}

.navTop {
    background-color: black;
    display: flex;
    max-height: 150px;
    padding: 1%;
    margin-bottom: 4%;
}
.navTop img {
    max-width: 80px;
    max-height: 70px;
    padding: 1%;
}
.navTop h1 {
    font-size: 350%;
    color: white;
    align-self: center;
    margin: 0 0 0 1%;
}