.container-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    width: 500px;
    background-color: #f1f1f1;
    border-radius: 50px;
    margin: 5% 0;
}

.container-search img {
    height: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.container-search input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

@media (max-width: 600px) {
    .container-search {
        width: 300px;
    }
}